<!-- Main Sidebar Container -->

<aside class="main-sidebar sidebar-dark-primary elevation-4" style="background-color: rgba(185, 119, 119, 0.463);">
  <!-- Brand Logo -->
  <a href="#" class="brand-link">
    <img src="/image//jiwlogo.jpg" alt="AdminLTE Logo" class="brand-image img-circle elevation-3 " style="opacity: .8">
    <span class="brand-text font-weight-light text-danger">ADMIN</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="<%= image.url %>" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="/admin/dashboard" class="d-block text-danger">
          <%= name %>
        </a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a href="#" class="nav-link active">
            <i class="fa-solid fa-users"></i>
            <p>
              Students
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/admin/studentDisplay" class="nav-link active">
                <i class="fa-solid fa-display"></i>
                <p>Display</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/admin/insertuser" class="nav-link active">
                <i class="fa-solid fa-user-plus"></i>
                <p>Add Student</p>
              </a>
            </li>

          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link active">
            <i class="fa-solid fa-book-open"></i>
            <p>Course<i class="right fas fa-angle-left"></i></p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/admin/courseDisplay" class="nav-link active">
                <i class="fa-solid fa-display"></i>
                <p>Display</p>
              </a>
            </li>
          </ul>
        </li>
         
        <li class="nav-item">
          <a href="#" class="nav-link active">
            <i class="fa-regular fa-user"></i>
            <p>
              Profile
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/profile" class="nav-link active">
                <i class="fa-solid fa-lock"></i>
                <p>Change Profile</p>
              </a>
            </li>

        </li>
      </ul>
      
      <li class="nav-item">
        <a href="#" class="nav-link active">
          <i class="fa-solid fa-note-sticky"></i>
          <p>
            complain
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="/admin/checkComplain" class="nav-link active">
              <i class="fa-solid fa-circle-check"></i>
              <p>Checkcomplain</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/admin/approvedComplain" class="nav-link active">
              <i class="fa-solid fa-circle-check"></i>
              <p>Approved Complain</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/admin/rejectComplain" class="nav-link active">
              <i class="fa-solid fa-circle-check"></i>
              <p>Rejected Complain</p>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link active">
          <i class="fa-regular fa-user"></i>
          <p>
            Feedback
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a href="/admin/feedback" class="nav-link active">
              <i class="fa-solid fa-lock"></i>
              <p>Feedback</p>
            </a>
          </li>

      </li>
    </ul>
      <li class="nav-item">
        <a href="/logout" class="nav-link text-danger">
          <i class="fa-solid fa-power-off" style="background-color:red;padding:10px; border-radius: 10px;color: white;">
          </i>
          <p>
            Logout
            <!-- <span class="right badge badge-danger">New</span> -->
          </p>
        </a>
      </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>