<%- include ('./header.ejs') %>
<!-- main start -->
<main>
  <section>
    <div class="container mt-4">
      <h1 class="text-center text-danger">
        About <span class="text-success">Us</span>
      </h1>
      <div class="row mt-4">
        <div class="col-md-6">
          <p style="text-align: justify; font-size: 20px">
            <b style="font-size: 37px">Jiwaji University </b> in Gwalior, India,
            has established a grievance portal to address and resolve issues
            faced by students, faculty, and staff. This portal is designed to
            provide a transparent and efficient mechanism for addressing
            grievances related to academic, administrative, and infrastructural
            concerns. Users can submit their complaints online, ensuring that
            their issues are documented and tracked. The portal typically
            includes features such as a submission form, status tracking, and
            response timelines, ensuring timely redressal of grievances. By
            streamlining the process and maintaining clear communication
            channels, the university aims to enhance accountability and improve
            the overall educational environment.
          </p>
        </div>
        <div class="col-md-6">
          <img src="image/Griev.jpg" alt="" class="w-100" />
        </div>
      </div>
    </div>
  </section>
</main>
<!-- main content -->
<%- include ('./footer.ejs') %>
