<%- include ('./header.ejs') %>
 <!-- main start -->
 <main>
               <section>
                <div class="container mt-4">
                  <div class="row mt-4">
                    <h1 class="text-center text-danger mb-3">Benefits</h1>
                    <div class="col-md-6">
                      <p style="text-align: justify; font-size: 20px;">The main advantage of the Grievance Portal is to provide transparent and effective grievance redressal mechanism over the conventional paper-based system. It also helps the grievance cell members to receive and act on the grievances in a time-bound manner.
                        <ul style="list-style: disc; text-align: justify; font-size: 18px;">
                          <li>Fair and speedy means of grievance handling.</li>
                          <li>Clarity in procedures and time frames adopted</li>
                          <li>Alerts users immediately on the grievance, action taken etc.</li>
                          <li>Saves time of affected person and cell members</li>
                          <li>Complainant need not consult anyone directly to register complaints</li>
                          <li>Round the clock availability</li>
                          <li>Harmonious education atmosphere in campus</li>
                          <li>Compliance with existing systems without undermining them</li>
                          <li>Automates entire grievance procedure right from its registration to closure</li>
                          <li>Greater confidentiality and transparency in complaints dealing procedure</li>
                          <li> Streamlined and systematic grievance reporting</li>
                          <li>Serves as an outlet for petitioner’s frustrations and discontents.</li>
                          <li>Security for aggrieved person to participate without fear of intimidation or retribution</li>
                          <li>Advantage over paper-based systems</li>
                        </ul>
                          </p>
                    </div>
                    <div class="col-md-6">
                      <img src="image/Grievance-handling-mechanism.png" alt="" class="w-100">
                    </div>
                  </div>
                </div>
               </section>
              </main>
              <!-- main content -->
<%- include ('./footer.ejs') %>