<%- include ('./header.ejs') %>
<!-- main start -->
<main>
  <section>
    <div class="container mt-4">
      <div class="row mt-4">
        <h1 class="text-center text-danger mb-3">Features</h1>
        <p style="text-align: justify; font-size: 20px">
          The Grievance Redressal System the latest productivity enhancement
          tool for higher education has umpteen features that make it appealing
          to educational institutions worldwide. The separate dashboard for
          students, teachers, parents and non-teaching staff in addition to
          admin and grievance cell members helps to maintain confidentiality in
          grievance dealing procedure. It gives opportunity for the institution
          to implement a set of specific measures to ensure accountability and
          maximum output, by managing grievances of the stakeholders and
          increasing transparency thereby establishing a very positive ambience.
        </p>
      </div>
      <!-- row1 ends -->
      <div class="row">
        <h3
          class="text-center mt-3 mb-4"
          style="font-weight: 600; color: #0077b5; font-size: 40px"
        >
          User Interface at a glance
        </h3>
        <p style="text-align: justify; font-size: 18px">
          The user interface is designed to be intuitive and user-friendly,
          ensuring that individuals can easily lodge grievances and track their
          status.
        </p>
        <ul style="list-style: disc; margin-left: 50px">
          <li>
            <p style="text-align: justify; font-size: 18px">
              <b>Simple registration and Login:</b> Users can register and log
              in with ease using basic credentials or single sign-on (SSO)
              mechanisms.
            </p>
          </li>
          <li>
            <p style="text-align: justify; font-size: 18px">
              <b>Dashboard Overview:</b> Upon logging in, users are presented
              with a dashboard summarizing their submitted grievances, pending
              actions, and updates.
            </p>
          </li>
          <li>
            <p style="text-align: justify; font-size: 18px">
              <b>Grievance submission form:</b>A clear and concise form to
              submit grievances, allowing users to provide detailed information
              and attach supporting documents.
            </p>
          </li>
          <!-- <li></li> -->
        </ul>
      </div>
      <!-- row2 ends -->
      <div class="row">
        <h3
          class="text-center mt-3 mb-4"
          style="font-weight: 600; color: #0077b5; font-size: 40px"
        >
          Admin and Grievance handler at a glance
        </h3>
        <p style="text-align: justify; font-size: 18px">
          The admin and grievance handler interface is designed to efficiently
          manage and resolve grievances, ensuring accountability and timely
          actions.
        </p>
        <ul style="list-style: disc; margin-left: 50px">
          <li>
            <p style="text-align: justify; font-size: 18px">
              <b>Comphrensive dashboard:</b> Administrators and grievance
              handlers have access to a dashboard displaying key metrics such as
              the number of grievances received, resolved, pending, and
              escalated.
            </p>
          </li>
          <li>
            <p style="text-align: justify; font-size: 18px">
              <b>Workflow automation:</b> Automated workflows for acknowledging
              receipt of grievances, sending updates to complainants, and
              escalating cases when necessary.
            </p>
          </li>
          <li>
            <p style="text-align: justify; font-size: 18px">
              <b>Access control:</b> Role-based access control to ensure that
              only authorized personnel can view and handle sensitive
              information related to grievances.
            </p>
          </li>
        </ul>
      </div>
      <!-- row3 ends -->
      <div class="row">
        <h3
          class="text-center mt-3 mb-4"
          style="font-weight: 600; color: #0077b5; font-size: 40px"
        >
          Dean Interface at a glance
        </h3>
        <p style="text-align: justify; font-size: 20px">
          The dean or higher authority interface provides a comprehensive
          overview and control over the grievance redressal process, ensuring
          strategic oversight and intervention when necessary.
        </p>
        <ul style="list-style: disc; margin-left: 50px">
          <li>
            <p style="text-align: justify; font-size: 18px">
              <b>Executive Dashboard:</b> A high-level dashboard offering a
              summary of the overall grievance situation, including key
              statistics, trends, and unresolved issues.
            </p>
          </li>
          <li>
            <p style="text-align: justify; font-size: 18px">
              <b>Performance Monitoring:</b> Real-time monitoring of the
              performance of grievance handlers and departments, identifying
              bottlenecks and ensuring accountability.
            </p>
          </li>
          <li>
            <p style="text-align: justify; font-size: 18px">
              <b>Escalation Management:</b>Real-time monitoring of the
              performance of grievance handlers and departments, identifying
              bottlenecks and ensuring accountability.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </section>
</main>
<!-- main content -->
<%- include ('./footer.ejs') %>
