   <!-- footer start -->
   <footer>
               <section>
                 <div class="container">
                   <div class="row">
                     <div class="col-md-4">
                       <br />
                       <center>
                         <a href="home.html"
                           ><img src="image/jiwlogo.jpg" alt="logo" class="footerlogo"
                         /></a>
                       </center>
                       <h4 class="footerheading">Jiwaji University Grievance Portal</h4>
                       <p
                         style="
                           font-size: 19px;
                           color: rgba(0, 0, 0,);
                           text-align: justify;
                           font-weight: 500;
                         "
                       >
                         <b><span class="text-danger">#1</span></b> Online Grievance
                         Redressal Mechanism designed in accordance with AICTE directive
                         aims at resolving the grievances of students, parents, staff and
                         others with optimal transparency and accuracy.
                       </p>
                     </div>
                     <div class="col-md-4">
                       <h4 class="someLink">Some Links</h4>
                       <ul class="footerlink" style="margin-left: 150px; list-style: none">
                         <li><a href="/" class="nav-link">Home</a></li>
                         <li>
                           <a href="/about" class="nav-link">About</a>
                         </li>
                         <li>
                           <a href="/grievance" class="nav-link">GRS</a>
                         </li>
                         <li>
                           <a href="/feature" class="nav-link">Features</a>
                         </li>
                         <li>
                           <a href="/benefit" class="nav-link">Benefits</a>
                         </li>
                         <li><a href="/help" class="nav-link">Help</a></li>
                       </ul>
                     </div>
                     <div class="col-md-4 rightFooter" style="color: rgba(0, 0, 0, 0.395)">
                       <h4 class="mt-5" style="margin-left: 95px;">24/7 Support & Help</h4>
                       <p>Phone:<span style="font-weight: 500;font-size: 18px;color: rgba(0, 0, 0,);">+91 7354712807,<br />
                         +91 8817660765</span>
                       </p>
                       <h4 style="margin-left: 95px;">Connect With Us</h4>
                       <div class="text-center brandLogo"> 
                         <i class="fa-brands fa-facebook ms-2" style="color: #4867aa;"></i>
                         <i class="fa-brands fa-whatsapp ms-2" style="color: green;"></i>
                         <i class="fa-brands fa-linkedin ms-2" style="color: #0077b5;"></i>
                         <i class="fa-brands fa-youtube ms-2" style="color: red;"></i>
                         <i class="fa-brands fa-x-twitter ms-2" style="color: white;"></i>
                       </div>
                     </div>
                   </div>
                   <!-- row ends -->
                   <hr>
                   <div class="container">
                     <div class="row" style="color: rgba(0, 0, 0,);">
                       <div class="col-md-6">
                         <p>Copyright &copy 2024. Jiwaji University Grievance Portal. All rights reserved.  </p>
                       </div>
                       <div class="col-md-1"></div>
                       <div class="col-md-5">
                         <p class="text-center" style="margin-left: 100px;">Design & Developed By: Yoshita tiwari & Aditya chaturvedi</p>
                       </div>
                     </div>
                     <!-- row end -->
                   </div>
                 </div>
                 <!-- container end -->
               </section>
             </footer>
             <!-- footer ends -->
             <!-- script -->
             <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
             
           </body>
         </html>
         